Repository EECA-NZ/eeca-python-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamllint

black:
  name: black (venv)
  entry: black
  language: system
  stages:
  - pre-commit

isort:
  name: isort (venv)
  entry: isort --profile black
  language: system
  stages:
  - pre-commit

pylint:
  name: pylint
  entry: pylint --rcfile=.pylintrc
  language: system
  pass_filenames: true
  stages:
  - pre-commit

yamllint:
  name: yamllint (venv)
  entry: yamllint
  language: system
  stages:
  - pre-commit

fix(semantic_versioning): update branch config and tag format
  .github/workflows/release_tag.yml
  .releaserc.json
  .releaserc.yml
Due: yamllint

Added Semantic Versioning to eeca-python - Project (#26)
  .github/workflows/release_tag.yml
  .releaserc.yml
  README.md
Due: yamllint

ci: ensure dependabot uses conventional commits
  .github/dependabot.yml
Due: yamllint

chore: fix pip-audit failures
  requirements-dev.txt
  requirements.txt
Due: none

feat(template): add AGENTS.md, align to Python 3.12, and run CI on pull requests
  .github/workflows/ci-and-deploy.yml
  .pylintrc
  AGENTS.md
  README.md
  pyproject.toml
  scripts/pip_audit_hook.py
  src/python_package/__init__.py
  tests/test_main.py
Due: black, isort, pylint, yamllint

fix(agent): slightly tighter leash on coding agent's pylint fixes
  AGENTS.md
  README.md
Due: none

fix: update vulnerable dependency constraints
  AGENTS.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

chore: update GitHub Actions audit steps
  .github/workflows/ci-and-deploy.yml
  requirements-dev.txt
Due: yamllint

chore: modernise Python template tooling
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci-and-deploy.yml
  .github/workflows/release_tag.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .python-version
  .releaserc.yml
  .yamllint
  CONTRIBUTING.md
  README.md
  SECURITY.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/pip_audit_hook.py
  uv.lock
Due: black, isort, pylint, yamllint

chore: use version tags for GitHub Actions
  .github/workflows/ci-and-deploy.yml
Due: yamllint

chore: modernise Python template tooling (#44)
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci-and-deploy.yml
  .github/workflows/release_tag.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .python-version
  .releaserc.yml
  .yamllint
  CONTRIBUTING.md
  README.md
  SECURITY.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/pip_audit_hook.py
  uv.lock
Due: black, isort, pylint, yamllint

chore: remove commit message CI check
  .github/workflows/ci-and-deploy.yml
  README.md
Due: yamllint

chore: remove commit message CI check (#49)
  .github/workflows/ci-and-deploy.yml
  README.md
Due: yamllint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
